swagger: '2.0'
info:
  description: blockchain
  version: 1.0.0
  title: blockchain
host: 'brtt.chainapp.live:10000'
basePath: /
schemes:
  - http
paths:
  /nodes/resolve:
    get:
      tags:
        - Resolve Node
      summary: Resolves nodes
      description: ''
      operationId: nodeResolve
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: object
        '400':
          description: Invalid resolution
  /nodes/register:
    post:
      tags:
        - Register node
      summary: register new node
      description: ''
      operationId: postRegisterNode
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: nodes that needs to be added
          required: true
          schema:
            $ref: '#/definitions/RegisterNodeItem'
      responses:
        '200':
          description: successful operation
        '405':
          description: Invalid input
  /transactions/new:
    post:
      tags:
        - New Transaction
      summary: create new transaction
      description: ''
      operationId: postNewTransaction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: transaction that needs to be added
          required: true
          schema:
            $ref: '#/definitions/SingleTransactionItem'
      responses:
        '200':
          description: successful operation
        '405':
          description: Invalid input
  /mine:
    get:
      tags:
        - Mine
      summary: Mines the block
      description: ''
      operationId: getMineBlock
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Chain'
        '400':
          description: Invalid status value
  /chain:
    get:
      tags:
        - Get Chain
      summary: Gets the chain
      description: ''
      operationId: getChain
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Chain'
        '400':
          description: Invalid status value
definitions:
  RegisterNodeItem:
    type: object
    properties:
      nodes:
        type: array
        items:
          type: string
  SingleTransactionItem:
    type: object
    properties:
      sender:
        type: string
      recipient:
        type: string
      amount:
        type: number
  Transaction:
    type: array
    items:
      $ref: '#/definitions/SingleTransactionItem'
  SingleChainItem:
    type: object
    properties:
      index:
        type: number
      previous_hash:
        type: string
      proof:
        type: number
      timestamp:
        type: number
      transactions:
        type: array
        items:
          $ref: '#/definitions/Transaction'
  Chain:
    required:
      - chain
      - length
    properties:
      chain:
        type: array
        items:
          $ref: '#/definitions/SingleChainItem'
      length:
        type: number
